{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Тренерский состав</title>
    <link rel="stylesheet" type="text/css" href="{% static 'couches/style_couches.css' %}">
  </head>
  <body>
    <header>
      <h1>Тренера и хореографы</h1>
    </header>
    <nav>
      <a href="{% url 'home' %}">Главная</a>
      <a href="{% url 'sport' %}">Спортсмены</a>
      <a href="{% url 'compet' %}">Соревнования</a>
    </nav>
    <main>
    {% block content %}
    {% endblock %}
    </main>
  </body>
</html>